@import "compass_twitter_bootstrap_awesome";

body{
	background-image: url('/images/green_dust_scratch_@2X.png');
}

.intro{
	margin-top: 100px;
	background: rgba(255,255,255, 0.7);
}

.goals{
	margin-top: 100px;
	background: rgba(255,255,255, 0.9);	
}
	